table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
  border: 2px solid black;
  border-radius: 20px;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid black;
  text-align: center;

}

.title {
  background-color:  #293133;
  color: white;
} 

